name: Lint

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - run: python -m pip install '.[lint]'
    - run: flake8 --exclude .git,pycache,docs/conf.py,build,dist --ignore E501 # Ignore line length (E501)
